.loader {
    background-color: rgb(202, 247, 4);
    width: 100%;
    height: 100vh;
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    z-index: 1000;
    align-content: center;
}