
.cart-widget {
    display:flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;

    .cart-icon {
        color: rgb(248, 240, 239);
        font-size: 50px;
    }

    span {
        color: beige;
        font-size: 50px;
    }

    &-active {
        visibility: visible;
        opacity: 2;
    }
}