.cart-widget {
    display:flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;

    .cart-icon {
        color: beige;
        font-size: 35px;
    }

    span {
        color: beige;
        font-size: 35px;
    }
}