.header {
    background-color: rgb(31, 31, 224);

    .header__container {
        max-width: 900px;
        margin: 0 auto;
        padding: 30px;
    
        display: flex;
        justify-content:  space-between;
        align-items: center;

        .header__logo {
            width: 250px;
        }
        
        .navbar {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;

            .navbar__link {
                font-size: 30px;
                    text-transform: uppercase;
                    font-weight: 700;
                    color: whitesmoke;
                    cursor: pointer;
                    margin: 0;
            }
        }
    }

    .user {
        max-width: 900px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: aliceblue;
        padding: 20px;
    }
}